<div class="side-functions">


    <div class="side-column side-column--main">

            <div class="side-name">
              <p>{{default.sidebar.title}}</p>
            </div>

      <ul class="side-column__lists">

      <li class="{{#is custom_basename 'dashboard'}}active{{/is}}">
        <a href="#">
          <div class="side-column__lists--left">
                <svg class="svg-icon">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                    </use>
                </svg>

              {{default.sidebar.dashboard}}

            </div>

            <svg class="svg-icon-arrow">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
              </use>
            </svg>
            </a>
        </li>


        <li class="{{#is basename 'ui_kit'}} active{{/is}}">
          <a href="#">
            <div class="side-column__lists--left">
                  <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                      </use>
                  </svg>

                {{default.sidebar.uikit}}

              </div>

              <svg class="svg-icon-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                </use>
              </svg>
              </a>
          </li>

          <li>
            <a href="#">
              <div class="side-column__lists--left">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                        </use>
                    </svg>

                  {{default.sidebar.typography}}

                </div>

                <svg class="svg-icon-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                  </use>
                </svg>
                </a>
            </li>

            <li>
              <a href="#">
                <div class="side-column__lists--left">
                      <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                          </use>
                      </svg>

                     {{default.sidebar.components}}

                  </div>

                  <svg class="svg-icon-arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                    </use>
                  </svg>
                  </a>
              </li>

              <li>
                <a href="#">
                  <div class="side-column__lists--left">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                            </use>
                        </svg>

                      {{default.sidebar.icons}}

                    </div>

                    <svg class="svg-icon-arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                      </use>
                    </svg>
                    </a>
                </li>

                <li>
                  <a href="#">
                    <div class="side-column__lists--left">
                          <svg class="svg-icon">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                              </use>
                          </svg>

                        {{default.sidebar.forms}}

                      </div>

                      <svg class="svg-icon-arrow">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                        </use>
                      </svg>
                      </a>
                  </li>



      </ul>

      <div class="side-name">
        <p>more</p>
      </div>

      <ul class="side-column__lists">

        <li>
          <a href="#">
            <div class="side-column__lists--left">
                  <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                      </use>
                  </svg>

                {{default.sidebar.tables}}

              </div>

              <svg class="svg-icon-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                </use>
              </svg>
              </a>
          </li>

          <li>
            <a href="#">
              <div class="side-column__lists--left">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                        </use>
                    </svg>

                    {{default.sidebar.charts}}


                </div>

                <svg class="svg-icon-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                  </use>
                </svg>
                </a>
            </li>

            <li>
              <a href="#">
                <div class="side-column__lists--left">
                      <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                          </use>
                      </svg>

                      {{default.sidebar.maps}}


                  </div>

                  <svg class="svg-icon-arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                    </use>
                  </svg>
                  </a>
              </li>
              <li>
                <a href="#">
                  <div class="side-column__lists--left">
                        <svg class="svg-icon">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                            </use>
                        </svg>

                      {{default.sidebar.mail}}

                    </div>

                    <svg class="svg-icon-arrow">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                      </use>
                    </svg>
                    </a>
                </li>
      </ul>


      <div class="side-name">
        <p>more</p>
      </div>

      <ul class="side-column__lists">

        <li>
          <a href="#">
            <div class="side-column__lists--left">
                  <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                      </use>
                  </svg>

                Tables

              </div>

              <svg class="svg-icon-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                </use>
              </svg>
              </a>
          </li>

          <li>
            <a href="#">
              <div class="side-column__lists--left">
                    <svg class="svg-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                        </use>
                    </svg>

                  Charts

                </div>

                <svg class="svg-icon-arrow">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                  </use>
                </svg>
                </a>
            </li>

            <li>
              <a href="#">
                <div class="side-column__lists--left">
                      <svg class="svg-icon">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard">
                          </use>
                      </svg>

                    Maps

                  </div>

                  <svg class="svg-icon-arrow">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                    </use>
                  </svg>
                  </a>
              </li>
      </ul>



  </div>
</div>
